{% paginate blog.articles by 4 %}
  <div class="teaser-container">
    {% for article in blog.articles %}
      {% if forloop.index == 1 %}
        <a href="{{ article.url }}" class="teaser initial">
      {% else %}
        <a href="{{ article.url }}" class="teaser">
      {% endif %}       
        <div class="featured-img">
          {% if article.image %}
            {% include 'responsive-image' with
              image: article.image,
              max_width: 1024,
              max_height: 1024
            %}
          {% endif %}
        </div>
        <div class="text-container">

          <p class="timestamp">{{ article.published_at | date: "%D" }}</p>
          <h3>{{ article.title }}</h3>

          <div class="rte">
            {% if article.excerpt.size > 0 %}
              <p>{{ article.excerpt }}</p>
            {% else %}
              <p>
                {{ article.content | strip_html | truncatewords: 100 }}
              </p>
            {% endif %}
          </div>
        </div>
      </a>
    {% endfor %}
  </div>

  {% if paginate.pages > 1 %}
    {% include 'pagination' %}
  {% endif %}

{% endpaginate %}
