<article>

  {{ hero.content }}
  {% section 'hero' %}

  {% if collection.description != blank %}
    <div class="rte">
      {{ collection.description }}
    </div>
  {% endif %}

  <!-- tabs -->
  <nav class="tabs">
    <ul class="wrapper">
      {% assign active_class = 'active' %}
      {% for product in collection.products %}
        <li>
          <a href="#product-{{product.id}}"  
             class="{{active_class}}" 
             data-active-style="color: {{product.metafields.product.color}}; 
                                border-bottom-color: {{product.metafields.product.color}}">
            <span>{{product.title}}</span>
          </a>
        </li>
        {% assign is_first_class = '' %}
      {% endfor %}
    </ul>
  </nav>
  
  <!-- content -->
  {% for product in collection.products %}
    <div class="product-container">
      {% include 'product' with product: product, section_id: forloop.index  %}
    </div>
  {% endfor %}
</article>