{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available when you add the "Image with text" section in the theme editor.

  Settings
  - image
  - heading: title of the block
  - text: description of the block
  - button label: label associated with the button
  - button link: link of the button
  - layout
  - animate_in
{%- endcomment -%}

<section class="image-with-text dir-{{layout}} flex-columns wrapper"
  {% if animate_in == true %} data-observe-intersection {% endif %}>
  <div class="img-container column">
    {% if image != blank %}
      {% include 'responsive-image' with
        image: image,
        max_width: 545,
        max_height: 545
      %}
    {% else %}
      {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
    {% endif %}
  </div>

  <div class="text-container column">
    {% if title != blank %}
      <h2>{{ title | escape }}</h2>
    {% endif %}
    {% if text != blank %}
      <div class="rte">{{ text }}</div>
    {% endif %}
    {% if button_label != blank and button_link != blank %}
      <p class="cta-container">
        <a href="{{ button_link }}" class="text-cta">
          {{ button_label | escape }}
        </a>
      </p>
    {% endif %}
  </div>
</section>