<div id="product-{{product.id}}" data-section-id="{{ section_id }}" data-section-type="product" data-enable-history-state="true" itemscope itemtype="http://schema.org/Product">

  {%- assign current_variant = product.selected_or_first_available_variant -%}
  {%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}

  <meta itemprop="name" content="{{ product.title }}{% unless product.has_only_default_variant %} - {{ current_variant.title }}{% endunless %}">
  <meta itemprop="url" content="{{ shop.url }}{{ current_variant.url }}">
  <meta itemprop="brand" content="{{ product.vendor }}">
  <meta itemprop="image" content="{{ featured_image | img_url: '600x600' }}">
  <meta itemprop="description" content="{{ product.description | strip_html | escape }}">

  <div class="wrapper flex-columns product-main">
    <div class="img-container column product-img">
      {% if featured_image != blank %}
        {% include 'responsive-image' with
          image: featured_image,
          max_width: 400,
          max_height: 400
        %}
      {% endif %}
      {% if product.images.size > 1 %}
        {% comment %} TODO {% endcomment %}
      {% endif %}
    </div>
    <div class="text-container column">
      {% if product.metafields.decorators.tagline %}
        <h5 class="tagline">{{ product.metafields.decorators.tagline }}</h5>
      {% endif %}
      <h1>{{ product.title }}</h1>
      {% if product.description != blank %}
        <div class="description rte">{{ product.description }}</div>
      {% endif %}
      <p>
      {% if product.metafields.pack.size != blank and product.metafields.pack.quanitity != blank %}
        <div class="pack-info">
          <strong>{{ product.metafields.pack.quanitity }}</strong>
          <span>{{ product.metafields.pack.size }}</span>
        </div>
      {% endif %}
        <div class="price" data-price-wrapper>
          <span data-product-price>
            {{ current_variant.price | money }}
          </span>
        </div>
      </p>

      {% if product.metafields.external_vendor.amazon != blank %}
        <a href="{{product.metafields.external_vendor.amazon}}" 
          class="cta external-vendor"
          style="background-color: {{product.metafields.product.color}}"
          target="_blank">{{ 'product.amazon_cta' | t }}</a>
      {% else %}
        <div itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="add-to-cart">
          <meta itemprop="priceCurrency" content="{{ shop.currency }}">
          <meta itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
          <link itemprop="availability" href="http://schema.org/{% if current_variant.available %}InStock{% else %}OutOfStock{% endif %}">

          <form action="/cart/add" method="post" enctype="multipart/form-data">
            {% unless product.has_only_default_variant %}
              {% for option in product.options_with_values %}
                <div class="selector-wrapper js">
                  <label for="SingleOptionSelector-{{ forloop.index0 }}">
                    {{ option.name }}
                  </label>

                  <select
                    id="SingleOptionSelector-{{ forloop.index0 }}"
                    data-single-option-selector
                    data-index="option{{ option.position }}">
                    {% for value in option.values %}
                      <option
                        value="{{ value | escape }}"
                        {% if option.selected_value == value %}selected="selected"{% endif %}>
                          {{ value }}
                      </option>
                    {% endfor %}
                  </select>
                </div>
              {% endfor %}
            {% endunless %}

            <select name="id" class="no-js" data-product-select>
              {% for variant in product.variants %}
                <option
                  {% if variant == current_variant %}selected="selected"{% endif %}
                  {% unless variant.available %}disabled="disabled"{% endunless %}
                  value="{{ variant.id }}">
                    {{ variant.title }}
                </option>
              {% endfor %}
            </select>

            <div class="quanitity-selector">
              <button class="increment" type="button" data-decrement-quantity>-</button>
              <input type="number" name="quantity" value="1" min="1" data-quantity-selector>
              <button class="decrement" type="button" data-increment-quantity>+</button>
            </div>

            <button
              type="submit"
              name="add"
              data-add-to-cart
              class="cta"
              {% unless current_variant.available %}disabled="disabled"{% endunless %}>
                <span data-add-to-cart-text>
                  {% if current_variant.available %}
                    {{ 'products.product.add_to_cart' | t }}
                  {% else %}
                    {{ 'products.product.sold_out' | t }}
                  {% endif %}
                </span>
            </button>
          </form>

        </div>
      {% endif %}

      {% unless product == empty %}
        <script type="application/json" data-product-json>
          {{ product | json }}
        </script>
      {% endunless %}
    </div>
  </div>

  <div class="secondary-callouts wrapper">
    <aside class="includes">
      {% include 'page-content-snippets', with handles: product.metafields.snippet.page_snippet %}
    </aside>

    <!-- Nutrition Information -->
    <div class="nutrition-information">
      {% if product.metafields.nutrition_info.show == 'true' %}
        <h3>{{ 'nutrition_facts.headline' | t }}</h3>
        <table>
          <tr>
            <th colspan="2">{{ 'nutrition_facts.amount_per_serving' | t }}</th>
            <th>{{ 'nutrition_facts.percent_daily_value' | t }}</th>
          </tr>
          {% for field in product.metafields.nutrition_facts %}
            {% assign values = field | last | split: '|' %}
            <tr>
              <td>{{ field | first | split: '_' | join: ' ' }}</td>
              <td>{{ values[0] }}</td>
              <td>{{ values[1] }}</td>
            </tr>
          {% endfor %}
        </table>
        <p>{{ 'nutrition_facts.additional_info' | t }}</p>
        <p><strong>{{ 'nutrition_facts.key' | t }}</strong></p>
      {% endif %}
    </div>
  </div>
</div>
