{% comment %} 
Product list
TODO: hide on all but product pages
{% endcomment %}
{% if true  %}
  {% comment %} Loop through product categories {% endcomment %}
  <div class="wrapper"  data-observe-intersection>
    {% include 'collection-list' with include_products: true %}
  </div>
{% endif %}

<footer id="global-footer" class="white">
  <div class="wrapper">
    <div class="column">
      {% comment %} Logo {% endcomment %}
      <a href="/" itemprop="url"{% if section.settings.logo != blank %} class="logo-image"{% endif %}>

        {% if section.settings.logo != blank %}
          {% include 'responsive-image' with
            image: section.settings.logo,
            max_width: 140,
            max_height: 60
          %}
        {% endif %}
      </a>

      {% comment %} Contact {% endcomment %}
      {% form 'contact' %}

        {% if form.posted_successfully? %}
          <p class="form-success">
            {{ 'contact.form.post_success' | t }}
          </p>
        {% endif %}

        {{ form.errors | default_errors }}

        <label for="ContactFormEmail">{{ section.settings.email_label }}</label>
        <div class="form-email-wrapper">
          <input type="email"
            name="contact[email]"
            id="ContactFormEmail"
            placeholder="{{ 'contact.form.email' | t }}"
            value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
            spellcheck="false"
            autocomplete="off"
            autocapitalize="off">

          <input hidden
            name="contact[context]"
            id="ContactFormContext"
            value="footer-email">

          <input type="submit" class="button" value="&rarr;">
        </div>

      {% endform %}
    </div>

    <div class="column">
      {% include 'social-links' %}

      {% comment %} Footer links {% endcomment %}
      {%- assign footer_linklist = section.settings.footer_linklist -%}
      {% if linklists[footer_linklist].links.size > 0 %}
        <ul class="footer-links">
          {% for link in linklists[footer_linklist].links %}
            <li><a href="{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
    <small>{{ 'layout.footer.copyright' | t }} &copy; {{ 'now' | date: "%Y" }}, MatchaBar, Inc. All Rights Reserved.</small>
  </div>
</footer>

{% schema %}
  {
    "name": "Footer",
    "blocks": [
      {
        "type": "collection",
        "name": "Collection",
        "settings": [
          {
            "label": "Collection",
            "id": "collection",
            "type": "collection"
          }
        ]
      }
    ],
    "settings": [
      {
        "type": "link_list",
        "id": "footer_linklist",
        "label": "First menu",
        "default": "footer"
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "text",
        "id": "email_label",
        "label": "Email label"
      },
      {
        "type": "text",
        "id": "social_instagram_link",
        "label": "Instagram link"
      },
      {
        "type": "text",
        "id": "social_twitter_link",
        "label": "Twitter link"
      },
      {
        "type": "text",
        "id": "social_fb_link",
        "label": "Facebook link"
      }
    ]
  }
{% endschema %}
